@font-face {
    font-family: "Finlandica";
    src: url(/fonts/Finlandica/Finlandica-VariableFont_wght.ttf) format(truetype);
}

/* ----BASE---- */

* {
    font-family: "Finlandica";
}

article {
    font-size: larger;
    padding: 1em;
    margin: 1em;
    width: 18%;
    border-style: solid;
    box-shadow: 12px 12px 1px 1px #5a9fc650;

}

button {
    background-color: #5a9fc650;
    border-radius: 9%;
    font-size: 1.2em;
  }

header {
    background-color: #5a9fc650;
}

h1 {
    margin: 2em;
}


/* ----LAYOUT---- */

#blague {
    flex-wrap: wrap;
}

@media (min-width: 800px) {
    #blague {
        display: flex;
        flex-direction: row;
        text-align: left;
    }
}


/* ----MODULE---- */

/* ----STATE---- */

.btnActualiser {
    margin: 0.8em;
    padding: 0.8em;
}

.dropdown {
    float:right;
    padding: 16px 16px;
    position: relative;
}

.dropdownBtn {
    cursor: pointer;
    font-size: 2.2em;
}

.dropdownBtn:hover, .dropdownBtn:focus {
    background-color: #0876b650;
}


.dropdownContent {
    background-color:#0876b650;
    color:black;
    display: none;
    position: relative;
    text-align: right;
}

.dropdownContent a {
    display: block;
    font-size: 1.2em;
    padding: 3px;
    text-decoration: none;
}

.show {display:block;}

/* ----THEME---- */